.marker {
	cursor: pointer;
	height: 30px;
	width: 30px;
	&:hover {
		z-index: 1;
	}
	.marker-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50% 50% 50% 0;
		margin: -15px 0 0 -15px;
		transform: rotate(-45deg);
		&.public-washrooms {
			background-color: sandybrown;
		}
		&.drinking-fountains {
			background-color: lightskyblue;
		}
		&::before {
			content: '';
			position: absolute;
			width: 24px;
			height: 24px;
			background: #fff;
			border-radius: 50%;
			margin: 3px 0 0 3px;
		}
		.marker-icon {
			position: absolute;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			text-align: center;
			transform: rotate(45deg);
		}
	}
}
.popup-box {
	.mapboxgl-popup-content {
		padding: 20px;
		width: 500px;
		border-width: 2px;
		border-style: solid;
		@media screen and (max-width: 767px) {
			width: 100%;
		}
		table {
			width: 100%;
			font-size: 16px;
			tbody {
				width: 100%;
				td {
					padding: 5px;
					&:first-child {
						width: 30%;
					}
					&:last-child {
						text-transform: capitalize;
					}
				}
			}
		}
		.mapboxgl-popup-close-button {
			font-size: 20px;
		}
	}
	&.public-washrooms {
		&.mapboxgl-popup-anchor-top {
			.mapboxgl-popup-tip {
				border-bottom-color: sandybrown;
			}
		}
		&.mapboxgl-popup-anchor-bottom {
			.mapboxgl-popup-tip {
				border-top-color: sandybrown;
			}
		}
		.mapboxgl-popup-content {
			border-color: sandybrown;
		}
	}
	&.drinking-fountains {
		&.mapboxgl-popup-anchor-top {
			.mapboxgl-popup-tip {
				border-bottom-color: lightskyblue;
			}
		}
		&.mapboxgl-popup-anchor-bottom {
			.mapboxgl-popup-tip {
				border-top-color: lightskyblue;
			}
		}
		.mapboxgl-popup-content {
			border-color: lightskyblue;
		}
	}
}